body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  color: rgb(248, 124, 7);
}


.btn {
  font-weight:700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgb(248, 124, 7);
  border-color: rgb(248, 124, 7);
}

.btn-primary:hover {
  background-color: rgb(156, 85, 18);
  border-color: rgb(131, 73, 19);
  opacity: 0.8;
  border-width: 4px;
}

hr {
  border-color: rgb(248, 124, 7);
  border-width: 3px;
  max-width: 65px;
  margin: 1.5rem auto;
  
}

.buffer {
  height: 10rem;
} 